# **I love markdown.**
## *I really love markdown.*

In [1]:
print("Beginning while loop")

This is my first notebook.

Specifying my first variable, called INTEGER, which will have the value 12.

In [3]:
#set integer equal to 12
INTEGER=12

print(INTEGER)

In [4]:
#set FLOAT_PT equal to 12.0
FLOAT_PT=12.0

In [5]:
#print both INTEGER and FLOAT_PT
print(INTEGER, FLOAT_PT)

12 12.0

In [6]:
#set STRING to "The integer is"
STRING="The integer is"

In [7]:
print(STRING)

The integer is

In [8]:
#print the integer is 12 using the variable names
print(STRING, INTEGER)

The integer is 12

In [9]:
print("The sum is", INTEGER + FLOAT_PT)

The sum is 24.0

In [15]:
STRING2='This is a string.\n\n\n'
STRING3="This is\t\t\t also a string."
print(STRING2)
print(STRING3)

This is a string.



This is			 also a string.

Applying methods for the first time

In [16]:
print(STRING)

The integer is

In [17]:
print(STRING.title())

The Integer Is

In [18]:
print(STRING.upper())

THE INTEGER IS

In [19]:
print(STRING.lower())

the integer is

In [23]:
print(f"The integer is {INTEGER}, my favorite integer.".title())

The Integer Is 12, My Favorite Integer.

In [24]:
FIRST="Brenna"
LAST="Levine"
AGE=23

In [30]:
COMBINED=f"My name is {FIRST} {LAST} and I am {AGE} years old".upper()

In [32]:
print(COMBINED.lower())

my name is brenna levine and i am 23 years old

Creating my very first list, which is analogous to an array in bash. List, like arrays, are zero-based.

In [33]:
#create list
STUDENTS=['Sariyah', 'Elie', 'Juhi', 'Kena', 'Lu', 'Caroline', 'Jon', 'Shari', 'Hasita']

In [34]:
#see who is in the list in index 4
print(STUDENTS[4])

Lu

In [35]:
#see all students in the list
print(STUDENTS)

['Sariyah', 'Elie', 'Juhi', 'Kena', 'Lu', 'Caroline', 'Jon', 'Shari', 'Hasita']

Creating my first nested list.

In [36]:
#create nested list
MY_NEST=[[1, 2, 3, 4], ['Brenna', 'has', 'a', 'dog'], ['Coding', 'is', 'life']]

In [39]:
#indexing into nested list
print(MY_NEST[0])
print(MY_NEST[1])
print(MY_NEST[2])

[1, 2, 3, 4]
['Brenna', 'has', 'a', 'dog']
['Coding', 'is', 'life']

In [43]:
#indexing into individual element in nested list
print("Coding is making me questions decisions I've made in my",  MY_NEST[2][2])

Coding is making me questions decisions I've made in my life

Lists are mutable. We can change things in our list. I want to add elements to my list. I will use a method called append to do this.

In [50]:
print(STUDENTS)

['Sariyah', 'Elie', 'Juhi', 'Kena', 'Lu', 'Caroline', 'Jon', 'Shari', 'Hasita']

In [51]:
#append method
STUDENTS.append('Brenna')
print(STUDENTS)

['Sariyah', 'Elie', 'Juhi', 'Kena', 'Lu', 'Caroline', 'Jon', 'Shari', 'Hasita', 'Brenna']

We can also remove elements from list. We remove them based on their index using a method called pop. It takes the format listname.pop(#)

In [52]:
POPPED=STUDENTS.pop(9)
print(POPPED)
print(STUDENTS)

Brenna
['Sariyah', 'Elie', 'Juhi', 'Kena', 'Lu', 'Caroline', 'Jon', 'Shari', 'Hasita']

Sometimes you want to reverse the order of your list. This means put what was in the last index in the first index. To do this, we use the reverse() method.

In [53]:
STUDENTS.reverse()

In [54]:
print(STUDENTS)

['Hasita', 'Shari', 'Jon', 'Caroline', 'Lu', 'Kena', 'Juhi', 'Elie', 'Sariyah']

In [59]:
BOLOGNA='oscar' #creates a new string variable
BOLOGNA_LIST=[] #creates an empty list

In [56]:
print(BOLOGNA)
print(BOLOGNA_LIST)

oscar
[]

In [60]:
#loop through string to create a list
for CHAR in BOLOGNA: #for each character in variable bologna
        BOLOGNA_LIST.append(CHAR)
#lose your indent to get out of your loop
print(f"My bologna has a first name. It's {BOLOGNA_LIST}.")

My bologna has a first name. It's ['o', 's', 'c', 'a', 'r'].

Slicing is splitting a string into characters. You can index into a string just like you can index into a list (or nested list). We can slice one character, or many characters.

print(FIRST)
print('The LAST letter of my name is:', FIRST[5])

In [65]:
#slicing many characters from a string at once
FULLNAME='Brenna Levine'
print(FULLNAME)
NEW_FIRST=FULLNAME[0:6] #characters 0 through 5, not inluding 6
NEW_LAST=FULLNAME[7:13] #characters 7 through 12, not including 13
print('First name:', NEW_FIRST)
print('Last name:', NEW_LAST)

Brenna Levine
First name: Brenna
Last name: Levine

We can slice lists just like we can slice strings. Slicing means pulling things out of strings or lists.

In [67]:
#create a nested list
ELEMENTS=[['fluorine', 'F'],
          ['chlorine', 'Cl'],
          ['bromine', 'Br'],
          ['hydrogen', 'H'],
          ['helium', 'He']]

In [68]:
print(ELEMENTS)

[['fluorine', 'F'], ['chlorine', 'Cl'], ['bromine', 'Br'], ['hydrogen', 'H'], ['helium', 'He']]

In [69]:
#slice the last 3 lists in the nested list (in other words, see the last 3 lists)
ELEMENTS[-3:]

[['bromine', 'Br'], ['hydrogen', 'H'], ['helium', 'He']]